body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'top-card top-card'
    'second-card third-card'
    ;
    height: 500px;
    width: 700px;
}
.top-card{
    grid-area: top-card;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.second-card{
    grid-area: second-card;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
}
.third-card{
    grid-area: third-card;
    background-color: rgba(42, 178, 175, 0.8);
    border-bottom-right-radius: 10px;
}