body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'top-card top-card'
    'second-card third-card'
    ;
    height: 500px;
    width: 700px;
    box-shadow: 5px 8px 23px 9px hsl(204, 35%, 85%);
}
.top-card{
    grid-area: top-card;
    padding: 30px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.top-card h1{
    color: hsl(179, 62%, 43%);
}
.top-card h2{
    color: hsl(71, 73%, 54%);
}
.top-card p{
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
    width: 550px;
}
.second-card{
    grid-area: second-card;
    background-color: hsl(179, 62%, 43%);
    border-bottom-left-radius: 10px;
    padding: 10px 50px;
}
.second-card h3, .third-card h3{
    color: #fff;
}
.second-card strong{
    font-size: 30px;
    color: #fff;
}
.second-card span{
    color: rgba(255, 255, 255, 0.5);
}
.second-card p{
    color: rgba(255, 255, 255, 0.9);
}
.sign-btn{
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    border: 0;
    border-radius: 5px;
    height: 55px;
    width: 243px;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 0 6px 16px 1px rgba(0, 0, 0,0.2)
}
.third-card{
    grid-area: third-card;
    background-color: rgba(42, 178, 175, 0.8);
    border-bottom-right-radius: 10px;
    padding: 10px 50px;
}
.third-card p{
    color: rgba(255, 255, 255, 0.6);
}
.line-break::after{
    content: "\a";
    white-space: pre;
}